*.a
*.bin
*.map
*.png
*.log
*.elf
*.d
*.ihex
*.pyc
*.redbee-econotag
*.econotag 
*.native
*.z1
*.minimal-net
*.sky
*.wismote
*.esb
*.avr-raven
*.exp5438
*.mbxxx
*.win32
*.apple2enh
*.atarixl
*.c128
*.c64
*.cc2538dk
*.report
summary
*.summary
*.faillog
*.orig
*~
.DS_Store
obj_*
symbols.*
Makefile.target
doc/html
patches-*
tools/tunslip6
build
tools/coffee-manager/build/
tools/cooja/dist/
tools/collect-view/build/
tools/collect-view/dist/
COOJA.testlog
tools/cooja/apps/mrm/lib/
tools/cooja/apps/mspsim/lib/
tools/cooja/apps/powertracker/lib/
tools/cooja/apps/serial_socket/lib/
tools/coffee-manager/coffee.jar
tools/cooja/apps/avrora/lib/cooja_avrora.jar
tools/cooja/apps/collect-view/cooja-collect-view.jar

# sdcc build artifacts
contiki-sensinode.lib
contiki-cc2530dk.lib
*.ihx
*.hex
*.mem
*.lk
*.omf
*.cdb
*.banks
*.sensinode
*.cc2530dk

# VC++ build artifacts
*.exp
*.ilk
*.lib
*.pdb
*.prg
*.dsc

#cc65 build artifacts
*.S
*.eth
*.dsk
*.2mg
*.atr
*.d64
*.d71
*.d81

#regression tests artifacts
*.testlog
/cpu/n9/mt7681/sdk/Src/depend
/cpu/n9/mt7681/sdk/Src/file_header
/cpu/n9/mt7681/sdk/Src/obj/ap/ap_pub.o
/examples/hello-world/file_header
/cpu/n9/mt7681/sdk/Src/obj/ap/crypt_crc.o
/cpu/n9/mt7681/sdk/Src/obj/ap/iot_aes_pub.o
/cpu/n9/mt7681/sdk/Src/obj/ap/iot_at_cmd.o
/cpu/n9/mt7681/sdk/Src/obj/ap/iot_at_cmd_tcpip.o
/cpu/n9/mt7681/sdk/Src/obj/ap/iot_at_cmd_utility.o
/cpu/n9/mt7681/sdk/Src/obj/ap/iot_custom.o
/cpu/n9/mt7681/sdk/Src/obj/ap/iot_custom_uart2wifi.o
/cpu/n9/mt7681/sdk/Src/obj/ap/iot_parse.o
/cpu/n9/mt7681/sdk/Src/obj/ap/iot_parse_conn_mgmt.o
/cpu/n9/mt7681/sdk/Src/obj/ap/iot_uart_rb.o
/cpu/n9/mt7681/sdk/Src/obj/ap/iot_uplink.o
/cpu/n9/mt7681/sdk/Src/obj/ap/iot_xmodem.o
/cpu/n9/mt7681/sdk/Src/obj/ap/main_pub.o
/cpu/n9/mt7681/sdk/Src/obj/ap/misc_pub.o
/cpu/n9/mt7681/sdk/Src/obj/ap/mt7681_ChSw_pub.o
/cpu/n9/mt7681/sdk/Src/obj/ap/printf.o
/cpu/n9/mt7681/sdk/Src/obj/ap/rtmp_data_pub.o
/cpu/n9/mt7681/sdk/Src/obj/ap/spi-flash_pub.o
/cpu/n9/mt7681/sdk/Src/obj/ap/stdlib.o
/cpu/n9/mt7681/sdk/Src/obj/ap/tcpip/clock-arch.o
/cpu/n9/mt7681/sdk/Src/obj/ap/tcpip/cloudclient.o
/cpu/n9/mt7681/sdk/Src/obj/ap/tcpip/dhcpd.o
/cpu/n9/mt7681/sdk/Src/obj/ap/tcpip/iot_tcp_app.o
/cpu/n9/mt7681/sdk/Src/obj/ap/tcpip/iot_tcpip_interface.o
/cpu/n9/mt7681/sdk/Src/obj/ap/tcpip/iot_udp_app.o
/cpu/n9/mt7681/sdk/Src/obj/ap/tcpip/mt76xx_dev.o
/cpu/n9/mt7681/sdk/Src/obj/ap/tcpip/mt_dhcpc.o
/cpu/n9/mt7681/sdk/Src/obj/ap/tcpip/mt_memb.o
/cpu/n9/mt7681/sdk/Src/obj/ap/tcpip/mt_resolv.o
/cpu/n9/mt7681/sdk/Src/obj/ap/tcpip/mt_uip-fw.o
/cpu/n9/mt7681/sdk/Src/obj/ap/tcpip/mt_uip-neighbor.o
/cpu/n9/mt7681/sdk/Src/obj/ap/tcpip/mt_uip-split.o
/cpu/n9/mt7681/sdk/Src/obj/ap/tcpip/mt_uip.o
/cpu/n9/mt7681/sdk/Src/obj/ap/tcpip/mt_uip_arp.o
/cpu/n9/mt7681/sdk/Src/obj/ap/tcpip/mt_uiplib.o
/cpu/n9/mt7681/sdk/Src/obj/ap/tcpip/mt_webclient.o
/cpu/n9/mt7681/sdk/Src/obj/ap/tcpip/sample_resolv_usage.o
/cpu/n9/mt7681/sdk/Src/obj/ap/tcpip/sample_udp_client.o
/cpu/n9/mt7681/sdk/Src/obj/ap/tcpip/sample_udp_server.o
/cpu/n9/mt7681/sdk/Src/obj/ap/tcpip/tcpip_main.o
/cpu/n9/mt7681/sdk/Src/obj/ap/tcpip/uip_timer.o
/cpu/n9/mt7681/sdk/Src/obj/ap/tcpip/webclient-strings.o
/cpu/n9/mt7681/sdk/Src/obj/ap/wifi_task_pub.o
/cpu/n9/mt7681/sdk/Src/obj/recovery/ap_pub.o
/cpu/n9/mt7681/sdk/Src/obj/recovery/crypt_crc.o
/cpu/n9/mt7681/sdk/Src/obj/recovery/iot_aes_pub.o
/cpu/n9/mt7681/sdk/Src/obj/recovery/iot_at_cmd.o
/cpu/n9/mt7681/sdk/Src/obj/recovery/iot_at_cmd_tcpip.o
/cpu/n9/mt7681/sdk/Src/obj/recovery/iot_at_cmd_utility.o
/cpu/n9/mt7681/sdk/Src/obj/recovery/iot_custom.o
/cpu/n9/mt7681/sdk/Src/obj/recovery/iot_custom_uart2wifi.o
/cpu/n9/mt7681/sdk/Src/obj/recovery/iot_parse.o
/cpu/n9/mt7681/sdk/Src/obj/recovery/iot_parse_conn_mgmt.o
/cpu/n9/mt7681/sdk/Src/obj/recovery/iot_uart_rb.o
/cpu/n9/mt7681/sdk/Src/obj/recovery/iot_uplink.o
/cpu/n9/mt7681/sdk/Src/obj/recovery/iot_xmodem.o
/cpu/n9/mt7681/sdk/Src/obj/recovery/main_pub.o
/cpu/n9/mt7681/sdk/Src/obj/recovery/misc_pub.o
/cpu/n9/mt7681/sdk/Src/obj/recovery/mt7681_ChSw_pub.o
/cpu/n9/mt7681/sdk/Src/obj/recovery/printf.o
/cpu/n9/mt7681/sdk/Src/obj/recovery/rtmp_data_pub.o
/cpu/n9/mt7681/sdk/Src/obj/recovery/spi-flash_pub.o
/cpu/n9/mt7681/sdk/Src/obj/recovery/stdlib.o
/cpu/n9/mt7681/sdk/Src/obj/recovery/tcpip/clock-arch.o
/cpu/n9/mt7681/sdk/Src/obj/recovery/tcpip/cloudclient.o
/cpu/n9/mt7681/sdk/Src/obj/recovery/tcpip/dhcpd.o
/cpu/n9/mt7681/sdk/Src/obj/recovery/tcpip/iot_tcp_app.o
/cpu/n9/mt7681/sdk/Src/obj/recovery/tcpip/iot_tcpip_interface.o
/cpu/n9/mt7681/sdk/Src/obj/recovery/tcpip/iot_udp_app.o
/cpu/n9/mt7681/sdk/Src/obj/recovery/tcpip/mt76xx_dev.o
/cpu/n9/mt7681/sdk/Src/obj/recovery/tcpip/mt_dhcpc.o
/cpu/n9/mt7681/sdk/Src/obj/recovery/tcpip/mt_memb.o
/cpu/n9/mt7681/sdk/Src/obj/recovery/tcpip/mt_resolv.o
/cpu/n9/mt7681/sdk/Src/obj/recovery/tcpip/mt_uip-fw.o
/cpu/n9/mt7681/sdk/Src/obj/recovery/tcpip/mt_uip-neighbor.o
/cpu/n9/mt7681/sdk/Src/obj/recovery/tcpip/mt_uip-split.o
/cpu/n9/mt7681/sdk/Src/obj/recovery/tcpip/mt_uip.o
/cpu/n9/mt7681/sdk/Src/obj/recovery/tcpip/mt_uip_arp.o
/cpu/n9/mt7681/sdk/Src/obj/recovery/tcpip/mt_uiplib.o
/cpu/n9/mt7681/sdk/Src/obj/recovery/tcpip/mt_webclient.o
/cpu/n9/mt7681/sdk/Src/obj/recovery/tcpip/sample_resolv_usage.o
/cpu/n9/mt7681/sdk/Src/obj/recovery/tcpip/sample_udp_client.o
/cpu/n9/mt7681/sdk/Src/obj/recovery/tcpip/sample_udp_server.o
/cpu/n9/mt7681/sdk/Src/obj/recovery/tcpip/tcpip_main.o
/cpu/n9/mt7681/sdk/Src/obj/recovery/tcpip/uip_timer.o
/cpu/n9/mt7681/sdk/Src/obj/recovery/tcpip/webclient-strings.o
/cpu/n9/mt7681/sdk/Src/obj/recovery/wifi_task_pub.o
/cpu/n9/mt7681/sdk/Src/obj/sta/ap_pub.o
/cpu/n9/mt7681/sdk/Src/obj/sta/crypt_crc.o
/cpu/n9/mt7681/sdk/Src/obj/sta/iot_aes_pub.o
/cpu/n9/mt7681/sdk/Src/obj/sta/iot_at_cmd.o
/cpu/n9/mt7681/sdk/Src/obj/sta/iot_at_cmd_tcpip.o
/cpu/n9/mt7681/sdk/Src/obj/sta/iot_at_cmd_utility.o
/cpu/n9/mt7681/sdk/Src/obj/sta/iot_custom.o
/cpu/n9/mt7681/sdk/Src/obj/sta/iot_custom_uart2wifi.o
/cpu/n9/mt7681/sdk/Src/obj/sta/iot_parse.o
/cpu/n9/mt7681/sdk/Src/obj/sta/iot_parse_conn_mgmt.o
/cpu/n9/mt7681/sdk/Src/obj/sta/iot_uart_rb.o
/cpu/n9/mt7681/sdk/Src/obj/sta/iot_uplink.o
/cpu/n9/mt7681/sdk/Src/obj/sta/iot_xmodem.o
/cpu/n9/mt7681/sdk/Src/obj/sta/main_pub.o
/cpu/n9/mt7681/sdk/Src/obj/sta/misc_pub.o
/cpu/n9/mt7681/sdk/Src/obj/sta/mt7681_ChSw_pub.o
/cpu/n9/mt7681/sdk/Src/obj/sta/printf.o
/cpu/n9/mt7681/sdk/Src/obj/sta/rtmp_data_pub.o
/cpu/n9/mt7681/sdk/Src/obj/sta/spi-flash_pub.o
/cpu/n9/mt7681/sdk/Src/obj/sta/stdlib.o
/cpu/n9/mt7681/sdk/Src/obj/sta/tcpip/clock-arch.o
/cpu/n9/mt7681/sdk/Src/obj/sta/tcpip/cloudclient.o
/cpu/n9/mt7681/sdk/Src/obj/sta/tcpip/dhcpd.o
/cpu/n9/mt7681/sdk/Src/obj/sta/tcpip/iot_tcp_app.o
/cpu/n9/mt7681/sdk/Src/obj/sta/tcpip/iot_tcpip_interface.o
/cpu/n9/mt7681/sdk/Src/obj/sta/tcpip/iot_udp_app.o
/cpu/n9/mt7681/sdk/Src/obj/sta/tcpip/mt76xx_dev.o
/cpu/n9/mt7681/sdk/Src/obj/sta/tcpip/mt_dhcpc.o
/cpu/n9/mt7681/sdk/Src/obj/sta/tcpip/mt_memb.o
/cpu/n9/mt7681/sdk/Src/obj/sta/tcpip/mt_resolv.o
/cpu/n9/mt7681/sdk/Src/obj/sta/tcpip/mt_uip-fw.o
/cpu/n9/mt7681/sdk/Src/obj/sta/tcpip/mt_uip-neighbor.o
/cpu/n9/mt7681/sdk/Src/obj/sta/tcpip/mt_uip-split.o
/cpu/n9/mt7681/sdk/Src/obj/sta/tcpip/mt_uip.o
/cpu/n9/mt7681/sdk/Src/obj/sta/tcpip/mt_uip_arp.o
/cpu/n9/mt7681/sdk/Src/obj/sta/tcpip/mt_uiplib.o
/cpu/n9/mt7681/sdk/Src/obj/sta/tcpip/mt_webclient.o
/cpu/n9/mt7681/sdk/Src/obj/sta/tcpip/sample_resolv_usage.o
/cpu/n9/mt7681/sdk/Src/obj/sta/tcpip/sample_udp_client.o
/cpu/n9/mt7681/sdk/Src/obj/sta/tcpip/sample_udp_server.o
/cpu/n9/mt7681/sdk/Src/obj/sta/tcpip/tcpip_main.o
/cpu/n9/mt7681/sdk/Src/obj/sta/tcpip/uip_timer.o
/cpu/n9/mt7681/sdk/Src/obj/sta/tcpip/webclient-strings.o
/cpu/n9/mt7681/sdk/Src/obj/sta/wifi_task_pub.o
/examples/hello-world/hello-world.gy7681
